                          
{% extends "base.html" %}
{% block page_content %}
{% load static %}



<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	
</head>
<nav class="navbar navbar-expand-lg navbar-light bg-light" id = "nav1" >

	<a class="navbar-brand" href="{% url 'hello_world' %}"><img src="{% static 'logo.png' %}"></a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
	  <span class="navbar-toggler-icon"></span>
	</button>

	<div class="collapse navbar-collapse" id="navbarSupportedContent">
	  <ul class="navbar-nav mr-auto">

		<li class="nav-item">
		  <a class="nav-link" href="{% url 'hello_world' %}">Home</a>
		</li>

		
		<li class="nav-item dropdown">
		  <a class="nav-link dropdown-toggle" href="{% url 'about'%}" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			Our Project
		  </a>
		  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
								  
			<a  class="dropdown-item" href = "{% url 'about_sulston' %}">About John Sulston</a>
			<a class="dropdown-item" href="{% url 'about' %}">Project Narrative</a>
			<a  class="dropdown-item" href="{% url 'about_aims' %}">Project Aims</a>
			<a class="dropdown-item" href = "{% url 'about_MDP' %}">Modified Policy Delphi</a>

			<a class="dropdown-item" href="{% url 'about_importance' %}">Why The Sulston Project</a>
			<div class="dropdown-divider"></div>
			<a class="dropdown-item" target="_blank" href="https://projectreporter.nih.gov/project_info_description.cfm?aid=9901477">Project Information <span style="text-transform: none;"><br>(NIH RePORT)</span> </a>
   
		  </div>
		</li>

		<li class="nav-item dropdown">
		  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		   Our Research
		  </a>
		  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
			<a class="dropdown-item" href="{% url 'resources' %}">Case Studies</a>
			<a class="dropdown-item" href="{% url 'white_papers' %}">White Papers</a>
			<a class="dropdown-item" href="{% url 'publications' %}">Publications</a>
			<a class="dropdown-item" href="{% url 'related_projects' %}">Related Projects</a>
			<a class="dropdown-item" href="{% url 'patient_stories' %}">Patient Stories</a>
			<div class="dropdown-divider"></div>
			<a class="dropdown-item" href="{% url 'relevant_docs' %}">Relevant Documents</a>
		  </div>
		</li>



		<li class="nav-item active">
		  <a class="nav-link" href="{% url 'bio' %}">Meet Our Team</a>
		</li>

		<li class="nav-item ">
		  <a class="nav-link" href="{% url 'contact' %}">contact us</a>
		</li>




	  
	  </ul>
	</div>


</nav>

<body>
<div class ="row container-fluid">
    {% for investigator in posts%}
    <div class = "offset-md-1 col-md-10 clients" >

      
      <div class = "row narrow">
          <div class= "col-md-4">
      <img src= "{% static investigator.image %}">
            <br>
           
            {{ investigator.name}}
            <hr>
            
            {{ investigator.profession}}
            <p></p>
            <br><br>


        
          </div>
        
          <div class= "col-md-8 lead body-p">
           <p>{{ investigator.bio}} </p>
          </div>
      </div>


    </div>

    {% endfor %}         




    </div>

    <div style="padding-bottom:2rem; padding-top: 2rem;" class = "text-center"><a  style = "margin-top: 2rem; margin-top: 5rem; margin-bottom: 10rem;" class="btn btn-outline-secondary" href = "{% url 'bio'%} ">Back to Our Team</a></div></div>
</body>
</html>

{% endblock %}
