{% extends "base.html" %}
{% load static %}
{% block page_content %}


<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">


</head>

<nav class="navbar navbar-expand-lg navbar-light bg-light" id="nav1">
  <a class="navbar-brand" href="{% url 'hello_world' %}"><img src="{% static 'logo.png' %}" /></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="{% url 'hello_world' %}">Home</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="{% url 'about'%}" id="navbarDropdown" role="button"
          data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Our Project
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{% url 'about' %}">Project Narrative</a>
          <a class="dropdown-item" href="{% url 'about_aims' %}">Project Aims</a>
          <a class="dropdown-item" href="{% url 'about_MDP' %}">Modified Policy Delphi</a>
          <a class="dropdown-item" href="{% url 'about_importance' %}">Why BRAINshare</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" target="_blank"
            href="https://www.bcm.edu/academic-centers/medical-ethics-and-health-policy/research/neuroethics/brainshare">Project
            Information
            <span style="text-transform: none"><br />(BCM Link)</span>
          </a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Our Research
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{% url 'resources' %}">Case Studies</a>
          <a class="dropdown-item" href="{% url 'white_papers' %}">White Papers</a>
          <a class="dropdown-item" href="{% url 'publications' %}">Publications</a>
          <a class="dropdown-item" href="{% url 'related_projects' %}">Related Projects</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="{% url 'relevant_docs' %}">Relevant Documents</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link active" href="{% url 'bio' %}">Meet Our Team</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'contact' %}">contact us</a>
      </li>
    </ul>
  </div>
</nav>

<body>
  <div id="top" class="narrow text-center people-link">
    <h1>Our Team</h1>
    <a class="underline-blue-fit" href="#Co-Principal">Co-Principal Investigators</a> | <a class="underline-red-fit"
      href="#co">Co-Investigators </a> | <a class="underline-orange-fit" href="#personnel">Project Personnel </a> | <a
      class="underline-purple-fit" href="#advisory"> Advisory Committee </a>
    <hr>
  </div>
  <div id="Co-Principal" class="narrow ">
    <div class="underline-blue-fit" style="margin-bottom:3rem;">
      <h1>Co-Principal Investigators:</h1>
    </div>
    <div>Adding more profiles soon...</div>
    <br>
    <div class="row">

      <!-- {% for investigator in co_principal_investigators %}
      <div class="col-md-4 clients">

        <div class="row">
          <div class="col-md-8">

            <a href="{% url 'Co_Principal_Investigators_bio' investigator.id  %} " style="color: black;"><img
                src="{% static investigator.image %}">
              <br>
              <br>
              {{ investigator.name}}
              <hr>
              <small>
                <p>{{ investigator.profession}} <br><br>
                  {{ investigator.place }} </p>
              </small>
            </a>
          </div>

        </div>
      </div>

      {% endfor %} -->

    </div>

  </div>


  <div id="co" class="narrow">

    <hr>

    <div class="underline-red-fit" style="margin-bottom:3rem ;">
      <h1>Co-Investigators:</h1>
    </div>
    <div>Adding more profiles soon...</div>
    <br>
    <div class="row">

      <!-- {% for investigator in co_investigators %}
      <div class="col-md-3 clients">

        <div class="row">
          <div class="col-md-8">
            <a href="{% url 'Co_Investigators_bio' investigator.id  %} " style="color: black;"> <img
                src="{% static investigator.image %}">
              <br><br>

              {{ investigator.name}}
              <hr>

              <small>
                <p>{{ investigator.profession}} <br><br>
                  {{ investigator.place }} </p>
              </small>
            </a>
          </div>

        </div>
      </div>

      {% endfor %} -->




    </div>

  </div>



  <div id="personnel" class="narrow">

    <hr>
    <div class="">
      <div class="underline-orange-fit" style="margin-bottom:3rem ;">
        <h1>Project Personnel:</h1>
      </div>
      <div>Adding more profiles soon...</div>
    </div>
    <br>

    <div class="row">
      <!-- {% for investigator in project_personnels %}

      <div class="col-md-3 clients">

        <div class="row">
          <div class="col-md-8" style="padding-top: 2rem;">
            <a href="{% url 'project_personnel_bio' investigator.id  %} " style="color: black;"> <img
                src="{% static investigator.image %}">
              <br>

              {{ investigator.name}}
              <hr>
              <small>
                <p>{{ investigator.profession}} <br><br>
                  {{ investigator.place }} </p>
              </small>
            </a>
          </div>

        </div>
      </div>

      {% endfor %} -->




    </div>

  </div>



  <div id="advisory" class="narrow" style="margin-top: 5rem;">
    <hr>

    <div class="underline-purple-fit" style="margin-bottom:3rem ;">
      <h1>Advisory Committee: </h1>
    </div>
    <div>Adding more profiles soon...</div>
    <br>
    <div class="row">
      <!-- {% for investigator in advisory_comitees %}
      <div class="col-md-3 clients">

        <div class="row">
          <div class="col-md-8" style="padding-top: 2rem;">
            <a href="{% url 'advisory_comitee_bio' investigator.id  %} " style="color: black;"> <img
                src="{% static investigator.image %}">
              <br>

              {{ investigator.name}}
              <hr>

              <small>
                <p>{{ investigator.profession | safe }} <br><br>
                  {{ investigator.place }} </p>
              </small>
            </a>
          </div>

        </div>
      </div>

      {% endfor %} -->




    </div>

  </div>

  </div>


  <div class="text-center"><a style="margin-bottom: 2rem; margin-top: 35rem;" class="btn btn-outline-secondary"
      href='#'>Click here to go back up top</a></div>

  {% endblock %}
</body>

</html>