{% extends "base.html" %}
{% load static %}
{% block page_content %}

<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">


</head>

<nav class="navbar navbar-expand-lg navbar-light bg-light" id="nav1">
	<a class="navbar-brand" href="{% url 'hello_world' %}"><img src="{% static 'logo.png' %}" /></a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
		aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="navbarSupportedContent">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item">
				<a class="nav-link" href="{% url 'hello_world' %}">Home</a>
			</li>
			<li class="nav-item dropdown active">
				<a class="nav-link dropdown-toggle" href="{% url 'about'%}" id="navbarDropdown" role="button"
					data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					Our Project
				</a>
				<div class="dropdown-menu" aria-labelledby="navbarDropdown">
					<a class="dropdown-item" href="{% url 'about' %}">Project Narrative</a>
					<a class="dropdown-item" href="{% url 'about_aims' %}">Project Aims</a>
					<a class="dropdown-item" href="{% url 'about_MDP' %}">Modified Policy Delphi</a>
					<a class="dropdown-item" href="{% url 'about_importance' %}">Why BRAINshare</a>
					<div class="dropdown-divider"></div>
					<a class="dropdown-item" target="_blank"
						href="https://www.bcm.edu/academic-centers/medical-ethics-and-health-policy/research/neuroethics/brainshare">Project
						Information
						<span style="text-transform: none"><br />(BCM Link)</span>
					</a>
				</div>
			</li>
			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
					aria-haspopup="true" aria-expanded="false">
					Our Research
				</a>
				<div class="dropdown-menu" aria-labelledby="navbarDropdown">
					<a class="dropdown-item" href="{% url 'resources' %}">Case Studies</a>
					<a class="dropdown-item" href="{% url 'white_papers' %}">White Papers</a>
					<a class="dropdown-item" href="{% url 'publications' %}">Publications</a>
					<a class="dropdown-item" href="{% url 'related_projects' %}">Related Projects</a>
					<div class="dropdown-divider"></div>
					<a class="dropdown-item" href="{% url 'relevant_docs' %}">Relevant Documents</a>
				</div>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="{% url 'bio' %}">Meet Our Team</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="{% url 'contact' %}">contact us</a>
			</li>
		</ul>
	</div>
</nav>

<body>
	<!--- Start ABOUT Section -->
	<div class="text-center hero-image2">
		<div class="hero-main-text">
			<h1> Project Aims</h1>
		</div>
	</div>

	<div class="about-nav research-nav text-center ">
		<a href="{% url 'about' %}">Project Narrative</a>
		<a style="color: black; font-weight: 500;">Project Aims</a>
		<a href="{% url 'about_MDP' %}">Modified Policy Delphi</a>
		<a href="{% url 'about_importance' %}">Importance</a>

		<hr>
	</div>


	<!--- End ABOUT Section -->
	<div id="background">
		<div class=" narrow lead about-narrative">
			<p> Data sharing is essential to promote equity and maximize the impact of the significant investment in the
				BRAIN Initiative. Data sharing plans are now required for BRAIN funding, but there is an urgent need to
				develop specific policies and practices that are empirically informed and address ethical challenges and
				concerns related to sharing human data generated from BRAIN Initiative research. In its 2019 Neuroethics
				Roadmap, the Advisory Committee to the Director of NIH BRAIN 2.0 Neuroethics Subgroup (BNS) identified
				developing such standards for the “neuroscience data ecosystem” as one of five key priorities for the
				BRAIN Initiative. The BNS specifically calls out the “ethical imperative” to share invasive neural
				recordings given their rarity, while acknowledging concerns about sharing these types of data because
				they may “gain insight into an individual’s thoughts.” Data sharing has been the object of study in
				other fields, such as genomics, but there are distinctive features of research on innovative
				neurotechnologies in the BRAIN Initiative that are likely to present unique challenges and raise new
				concerns. Our own experience and research with investigators conducting BRAIN Initiative-funded studies
				of closed loop or adaptive deep brain stimulation suggests that the practice of sharing data is
				inconsistent and incomplete, despite broad agreement that it is important. Some ethical challenges
				raised include issues related to privacy, consent, interoperability, and competing commercial and
				professional interests. As the BNS points out, ensuring equity and maximizing benefits from the large
				public investment in the BRAIN Initiative depends on better understanding such challenges, then
				formulating policies and best practices that address them.<br><br>
				The long-term goal of our research program is to develop, test, and disseminate strategies to improve
				data sharing in biomedical research. Our previous work (R01HG004333, R01HG006460; R01HG08918;
				R01CA237118) addresses ethical and policy challenges to sharing genomic data to advance precision
				medicine. The objective of this proposal is to apply our combined expertise in neuroscience,
				neuroethics, social science, law, and science policy, and our extensive experience studying data
				sharing, to identify challenges and concerns and generate empirically-informed policy and practice
				options that facilitate responsible data sharing within the BRAIN Initiative.<br><br>
				Aim 1: Examine current policy and practice and identify challenges to sharing human data within the
				BRAIN Initiative. We will conduct stakeholder interviews and analyze relevant documents governing data
				sharing (e.g., consent forms, data sharing policies, industry contracts) within the BRAIN Initiative.
				Drawing on our previous work, we will identify challenges, as well as policy and practice considerations
				specific to BRAIN Initiative research.<br><br>
				Aim 2: Assess BRAIN Initiative research participants’ attitudes, preferences, and concerns about data
				sharing and brain privacy. We will conduct qualitative interviews (n=20) and survey (n=100) a diverse
				cohort of BRAIN Initiative research participants to investigate their attitudes, preferences, and
				prioritization of concerns, as determined from stated preference methods.
				Aim 3: Generate empirically-informed policy and practice options that address high-priority challenges
				to sharing human data from BRAIN Initiative research. We will employ a modified policy Delphi process
				with diverse stakeholders: BRAIN Initiative-funded investigators, patient advocates, industry
				representatives, data stewards, and neuroethics and law/policy scholars. In successive rounds, panelists
				will prioritize challenges to sharing human BRAIN data; evaluate how well existing policies and
				practices address high- priority challenges; and generate policy and practice options to address
				identified gaps and inconsistencies.<br><br>
				This project is urgent and significant because the stakes are very high: adoption of policies and
				practices that do not reflect understanding of stakeholder perspectives can compromise trust and
				compound inequities. Once the data sharing infrastructure is fully built out, change will be much more
				difficult. Hence, this is a critical time for proactively engaging stakeholders in anticipating and
				resolving challenges. By tailoring our work to specific data types and uses of ongoing relevance for the
				BRAIN Initiative, this project will contribute to maximizing the value of BRAIN Initiative-generated
				data. This project is innovative in its engagement with multiple diverse stakeholder groups and its use
				of mixed methods incorporated into a modified policy Delphi framework. The work is feasible in our hands
				as demonstrated by the productivity of this team in prior work, as well as our collective data sharing
				and neuroethics expertise, and experience with empirical social science methods.
			</p>

		</div>




	</div>
	</div>






	<div class="text-center"><a style="margin-bottom: 2rem; margin-top: 2rem;" class="btn btn-outline-secondary"
			href='#'>Click here to go back up top</a></div>


	{% endblock %}