{% extends "base.html" %}
{% load static %}
{% block page_content %}

<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
</head>
<nav class="navbar navbar-expand-lg navbar-light bg-light" id="nav1">
	<a class="navbar-brand" href="{% url 'hello_world' %}"><img src="{% static 'logo.png' %}"></a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
		aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="navbarSupportedContent">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item active">
				<a class="nav-link" href="{% url 'hello_world' %}">Home</a>
			</li>
			<li class="nav-item dropdown ">
				<a class="nav-link dropdown-toggle" href="{% url 'about'%}" id="navbarDropdown" role="button"
					data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					Our Project
				</a>
				<div class="dropdown-menu" aria-labelledby="navbarDropdown">
					<a class="dropdown-item" href="{% url 'about' %}">Project Narrative</a>
					<a class="dropdown-item" href="{% url 'about_aims' %}">Project Aims</a>
					<a class="dropdown-item" href="{% url 'about_MDP' %}">Modified Policy Delphi</a>
					<a class="dropdown-item" href="{% url 'about_importance' %}">Why BRAINshare</a>
					<div class="dropdown-divider"></div>
					<a class="dropdown-item" target="_blank"
						href="https://www.bcm.edu/academic-centers/medical-ethics-and-health-policy/research/neuroethics/brainshare">Project
						Information <span style="text-transform: none;"><br>(BCM Link)</span> </a>
				</div>
			</li>
			<li class="nav-item dropdown ">
				<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
					aria-haspopup="true" aria-expanded="false">
					Our Research
				</a>
				<div class="dropdown-menu" aria-labelledby="navbarDropdown">
					<a class="dropdown-item" href="{% url 'resources' %}">Case Studies</a>
					<a class="dropdown-item" href="{% url 'white_papers' %}">White Papers</a>
					<a class="dropdown-item" href="{% url 'publications' %}">Publications</a>
					<a class="dropdown-item" href="{% url 'related_projects' %}">Related Projects</a>
					<div class="dropdown-divider"></div>
					<a class="dropdown-item" href="{% url 'relevant_docs' %}">Relevant Documents</a>
				</div>
			</li>
			<li class="nav-item ">
				<a class="nav-link" href="{% url 'bio' %}">Meet Our Team</a>
			</li>
			<li class="nav-item ">
				<a class="nav-link" href="{% url 'contact' %}">contact us</a>
			</li>
		</ul>
	</div>
</nav>

<body>
	<div class="hero-image">
		<div class="hero-text">
			<div class="row">

				<div class="col-md-12 hero-logo">

					<img class="hero-logo" src="{% static 'logo_icon.png' %}">
					<p>
					<div class="hero-main-text">
						<h1>BRAINshare: Sharing Data in BRAIN Initiative Studies</h1>
						<h5>Promoting equity and maximizing impact in BRAIN data sharing </h5>
					</div>

					</p>
				</div>
			</div>

		</div>
	</div>

	<div class="narrow landing-page-statement">

		<p>Data sharing is essential to promote equity and maximize the impact of the significant investment in the
			BRAIN Initiative. Data sharing plans are now required for BRAIN Initiative funding, but there is an urgent
			need to de- velop specific policies and practice guidelines that address ethical challenges and stakeholder
			concerns. Data sharing has been the object of study in other fields, such as genomics, but there are
			distinctive features of the BRAIN Initiative that are likely to present unique challenges and raise new
			concerns. Our own experience and research with investigators conducting BRAIN Initiative-funded studies of
			closed loop or adaptive deep brain stimulation suggests that the practice of sharing data is inconsistent
			and incomplete, despite broad agreement that it is important. Investigators raised ethical challenges with
			sharing human brain data, including issues re- lated to privacy, consent, interoperability, and competing
			commercial and professional interests. <br><br>
			<u>The objective of this proposal is to engage key stakeholders in a deliberative process to identify
				challenges and concerns specific to sharing human data from BRAIN Initiative studies and generate
				empirically informed policy and practice options to facilitate responsible sharing of human data within
				the
				BRAIN Initiative.</u>

			<br><br>
			<br><br>
		</p>
		<div class="text-center">
			<a href="{% url 'about' %} " class="btn btn-outline-dark" style="margin:3px"> Read more about us</a> <a
				class="btn btn-outline-dark" href="/#explore " style="margin:3px"> Explore Content</a>
		</div>


	</div>

	<div>


	</div>
	<!--- End LANDING PAGE Section -->

	<div id="explore" class="landing-page-title text-center">
		<h1>Explore BRAINshare</h1>
	</div>
	<hr>
	<div class="row narrow text-center landing-page-icon" style=" padding-top:2rem">
		<div style="padding-top: 2rem;" class="col-xl-4  ">
			<a href="{% url 'about' %}">
				<!---<img src= "{% static 'innovation.svg' %}" > -->
				<div class="underline">
					<h5>About Us</h5>
				</div>
				<p>More about our project and how we’re improving the BRAIN Initiative </p>
			</a>
		</div>

		<div style="padding-top: 2rem;" class="col-xl-4  ">
			<a href="{% url 'bio'%}">
				<!---<img src= "{% static 'innovation.svg' %}" > -->
				<div class="underline-purple">
					<h5>Meet Our Team</h5>
				</div>
				<p>
					Please meet our team of people who are improving the BRAIN Initiative </p>
			</a>
		</div>

		<div style="padding-top: 2rem;" class="  col-xl-4 ">
			<a href="{% url  'resources' %}">
				<!---<img src= "{% static 'case-study.svg' %}" > -->

				<div class="underline-red">
					<h5>Case Studies and White Papers</h5>
				</div>

				<p>Read our material that features extended testimonials, diagrams, images, and technical information on
					the BRAIN Initiative</p>
			</a>
		</div>


		<div style="padding-top: 2rem;" class="col-xl-4  ">
			<a href="{% url 'about_MDP' %}">
				<!---<img src= "{% static 'meeting.svg' %}" > -->
				<div class="underline-green">
					<h5>Modified Policy Delphi</h5>
				</div>
				<p> Read about our modified Delphi method where we have a process of expert policy deliberations on
					improving the BRAIN Initiative </p>
			</a>
		</div>
		<div style="padding-top: 2rem;" class=" col-xl-4  ">
			<a href="{% url 'publications' %}">
				<!---<img src= "{% static 'book.svg' %}" > --->
				<div class="underline-blue">
					<h5>Publications</h5>
				</div>
				<p>Content that has been published in research journals </p>
			</a>
		</div>
		<div style="padding-top:2rem; margin-bottom: 10rem;" class="col-xl-4   ">
			<a href="{% url 'related_projects'%}">
				<!---<img src= "{% static 'innovation.svg' %}" > -->
				<div class="underline-orange">
					<h5>Related Projects</h5>
				</div>
				<p>BRAINshare is not alone. Come exlplore additional impactful projects </p>
			</a>
		</div>







	</div>

	<div class="text-center"><a style="margin-bottom: 2rem; margin-top: 2rem;" class="btn btn-outline-secondary"
			href='#'>Click here to go back up top</a></div>




	<!--- End Course Section -->


</body>

</html>





{% endblock %}